<div
  class="card border-radius blur animate__animated animate__fadeIn"
  *ngIf="this.currentUserFromDB"
>
  <div class="mt-2">
    <h3 class="card-title text-center">Mis horarios</h3>
  </div>

  <div class="card-body border">
    <form [formGroup]="this.shiftForm" (ngSubmit)="this.sendScheduletForm()">
      <!-- Specialty -->
      <div class="row mt-3">
        <div class="col-sm">
          <select class="form-select" formControlName="specialty">
            <option value="">Especialidad</option>
            <option
              *ngFor="let specialty of this.currentUserFromDB.specialties"
              [ngValue]="specialty.name"
            >
              {{ specialty.name }}
            </option>
          </select>
        </div>
      </div>

      <!-- Days -->
      <div class="row mt-3">
        <label class="form-label">Días</label>
        <div class="d-flex flex-wrap justify-content-center align-items-center">
          <div
            class="form-check form-check-inline"
            *ngFor="let day of this.weekDays"
          >
            <input
              class="form-check-input"
              type="checkbox"
              [id]="'inlineCheckBox' + day.id"
              [value]="day.id"
              (change)="this.onCheckChange($event)"
            />
            <label class="form-check-label" [for]="'inlineCheckBox' + day.id">
              {{ day.value }}
            </label>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <!-- From -->
        <div class="col-sm">
          <select class="form-select" formControlName="from">
            <option value="">Desde</option>
            <option [value]="hour" *ngFor="let hour of this.clinicHours">
              {{ hour >= 13 ? hour + " pm" : hour + " am" }}
            </option>
          </select>
        </div>

        <!-- To -->
        <div class="col-sm">
          <select class="form-select" formControlName="to">
            <option value="">Hasta</option>
            <option [value]="hour" *ngFor="let hour of this.clinicHours">
              {{ hour >= 13 ? hour + " pm" : hour + " am" }}
            </option>
          </select>
        </div>
      </div>

      <div class="row mt-3">
        <!-- Shift duration -->
        <div class="col-sm">
          <select class="form-select" formControlName="duration">
            <option value="">Duración de los turnos</option>
            <option value="30">30 minutos</option>
            <option value="60">1 hora</option>
          </select>
        </div>
      </div>

      <button
        class="btn btn-primary w-100 mt-3"
        [disabled]="this.shiftForm.invalid"
      >
        Setear disponibilidad
      </button>
    </form>
  </div>
</div>
