<div
  class="card border-radius blur animate__animated animate__fadeIn"
  *ngIf="this.currentUserFromDB"
>
  <div class="mt-2">
    <h3 class="card-title text-center">Mis horarios</h3>
  </div>

  <div class="card-body border">
    <form [formGroup]="this.scheduleForm" (ngSubmit)="this.sendScheduletForm()">
      <div class="card-body p-3" style="width: 15rem" formArrayName="shifts">
        <div *ngFor="let shift of this.shifts.controls; let i = index">
          <div [formGroupName]="i" class="mb-3">
            <h5>{{ shift.value.specialty }}</h5>

            <div class="row mb-3">
              <div class="col">
                <span>Desde</span>
              </div>
              <div class="col">
                <input
                  type="time"
                  formControlName="from"
                  min="08:00"
                  max="19:00"
                />
                <!-- <div class="form-text error">
                      {{ this.getErrorMessage("lastName") }}
                    </div> -->
              </div>
            </div>

            <div class="row">
              <div class="col">
                <span>Hasta</span>
              </div>
              <div class="col">
                <input
                  type="time"
                  formControlName="to"
                  min="08:00"
                  max="19:00"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary w-100 mb-3">
        Guardar horarios
      </button>
    </form>
  </div>
</div>
