<form [formGroup]="this.adminRegisterForm" (ngSubmit)="this.sendAdminForm()">
  <!-- FirstName and LastName -->
  <div class="mb-3 row">
    <div class="col">
      <input
        type="text"
        class="form-control"
        formControlName="firstName"
        placeholder="Nombre"
      />
      <div class="form-text error">
        {{ this.getErrorMessage("firstName") }}
      </div>
    </div>

    <div class="col">
      <input
        type="text"
        class="form-control"
        formControlName="lastName"
        placeholder="Apellido"
      />
      <div class="form-text error">
        {{ this.getErrorMessage("lastName") }}
      </div>
    </div>
  </div>

  <!-- Edad and DNI-->
  <div class="mb-3 row">
    <div class="col">
      <input
        type="number"
        class="form-control"
        formControlName="age"
        placeholder="Edad"
      />
      <div class="form-text error">
        {{ this.getErrorMessage("age") }}
      </div>
    </div>

    <div class="col">
      <input
        type="number"
        class="form-control"
        formControlName="dni"
        placeholder="DNI"
      />
      <div class="form-text error">
        {{ this.getErrorMessage("dni") }}
      </div>
    </div>
  </div>

  <!-- Email -->
  <div class="mb-3">
    <input
      type="email"
      class="form-control"
      formControlName="email"
      placeholder="Correo electrónico"
    />
    <div class="form-text text-danger">
      {{ this.getErrorMessage("email") }}
    </div>
  </div>

  <!-- Password -->
  <div class="mb-3">
    <input
      type="password"
      class="form-control"
      formControlName="password"
      placeholder="Contraseña (6 o más caracteres)"
    />
    <div class="form-text text-danger">
      {{ this.getErrorMessage("password") }}
    </div>
  </div>

  <!-- Photo (Luego pasarlo a type 'file')-->
  <div class="mb-3">
    <input
      type="file"
      class="form-control"
      formControlName="photo"
      placeholder="Foto #1"
      (change)="this.handlePhoto($event)"
    />
    <div class="form-text text-danger">
      {{ this.getErrorMessage("photo") }}
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary w-100 mb-3"
    [disabled]="this.adminRegisterForm.invalid"
  >
    <div *ngIf="this.isLoading">
      <span class="spinner-border spinner-border-sm"></span>
      Cargando...
    </div>

    <span *ngIf="!this.isLoading">
      {{ this.textSubmitButton }}
    </span>
  </button>
</form>
