<form
  [formGroup]="this.specialistRegisterForm"
  (ngSubmit)="this.sendSpecialistForm()"
>
  <!-- FirstName and LastName -->
  <div class="mb-3 row">
    <div class="col">
      <input
        type="text"
        class="form-control"
        formControlName="firstName"
        placeholder="Nombre"
      />
      <div class="form-text error">
        {{ this.getErrorMessage("firstName") }}
      </div>
    </div>

    <div class="col">
      <input
        type="text"
        class="form-control"
        formControlName="lastName"
        placeholder="Apellido"
      />
      <div class="form-text error">
        {{ this.getErrorMessage("lastName") }}
      </div>
    </div>
  </div>

  <!-- Edad and DNI-->
  <div class="mb-3 row">
    <div class="col">
      <input
        type="number"
        class="form-control"
        formControlName="age"
        placeholder="Edad"
      />
      <div class="form-text error">
        {{ this.getErrorMessage("age") }}
      </div>
    </div>

    <div class="col">
      <input
        type="number"
        class="form-control"
        formControlName="dni"
        placeholder="DNI"
      />
      <div class="form-text error">
        {{ this.getErrorMessage("dni") }}
      </div>
    </div>
  </div>

  <!-- Email -->
  <div class="mb-3">
    <input
      type="email"
      class="form-control"
      formControlName="email"
      placeholder="Correo electrónico"
    />
    <div class="form-text error">
      {{ this.getErrorMessage("email") }}
    </div>
  </div>

  <!-- Password -->
  <div class="mb-3">
    <input
      type="password"
      class="form-control"
      formControlName="password"
      placeholder="Contraseña"
    />
    <div class="form-text error">
      {{ this.getErrorMessage("password") }}
    </div>
  </div>

  <!-- Photo -->
  <div class="mb-3">
    <input
      type="file"
      class="form-control"
      formControlName="photo"
      placeholder="Foto"
      (change)="this.handlePhoto($event)"
    />
    <div class="form-text error">
      {{ this.getErrorMessage("photo") }}
    </div>
  </div>

  <!-- specialties -->
  <div formArrayName="specialties">
    <div class="mb-3">
      <ng-container
        *ngFor="let especialidad of this.specialties.controls; let i = index"
      >
        <div class="row mt-3">
          <div class="input-group mb-3">
            <ng-autocomplete
              style="width: 280px"
              [formControlName]="i"
              [placeholder]="'Especialidad #' + (i + 1)"
              [data]="this.listSpecialties"
              [searchKeyword]="'name'"
              [itemTemplate]="itemTemplate"
            >
            </ng-autocomplete>

            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.name"></a>
            </ng-template>

            <button
              *ngIf="i !== 0"
              class="btn btn-danger"
              type="button"
              (click)="this.removeSpecialty(i)"
            >
              x
            </button>

            <button
              *ngIf="i === 0"
              class="btn btn-primary"
              type="button"
              (click)="this.addSpecialty()"
            >
              +
            </button>
          </div>
        </div>

        <div class="row">
          <div
            class="form-text error"
            *ngIf="
              this.specialties.get([i])?.touched &&
              this.specialties.get([i])?.errors?.required
            "
          >
            Debes ingresar un valor
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- reCAPTCHA -->
  <div class="mb-3 centered">
    <re-captcha
      (resolved)="this.resolved($event)"
      (error)="this.onError($event)"
      errorMode="handled"
      formControlName="recaptcha"
      siteKey="6LdN6L0bAAAAACO3CnXyLdPVt0UoJBO0JMMybk2y"
    ></re-captcha>
  </div>

  <button
    type="submit"
    class="btn btn-primary w-100 mb-3"
    [disabled]="this.specialistRegisterForm.invalid"
  >
    <div *ngIf="this.isLoading">
      <span class="spinner-border spinner-border-sm"></span>
      Cargando...
    </div>

    <span *ngIf="!this.isLoading">
      {{ this.textSubmitButton }}
    </span>
  </button>
</form>
