<app-spinner
  [isLoading]="!this.userList"
  [text]="'Cargando lista de usuarios'"
></app-spinner>

<div
  class="mb-3 animate__animated animate__fadeIn"
  *ngIf="this.userList?.length"
>
  <h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-primary">Lista de {{ this.title }}</span>
    <span class="badge bg-primary rounded-pill">
      {{ this.userList?.length }}
    </span>
  </h4>

  <div class="overflow-auto" style="height: 310px">
    <ul class="list-group">
      <li
        class="
          list-group-item
          d-flex
          justify-content-between
          align-items-center
          rounded
        "
        *ngFor="let user of this.userList"
      >
        <div
          class="d-flex justify-content-start align-items-center"
          style="flex: 1"
        >
          <img
            class="me-3 rounded-circle"
            [src]="user.photo"
            alt="User image"
            width="55"
            height="55"
          />

          <div>
            <div [ngSwitch]="user.role" *ngIf="this.showRole">
              <small class="text-muted" *ngSwitchCase="this.roles.PATIENT">
                Paciente
              </small>
              <small class="text-muted" *ngSwitchCase="this.roles.SPECIALIST">
                Especialista
              </small>
              <small class="text-muted" *ngSwitchCase="this.roles.ADMIN">
                Admin
              </small>
            </div>

            <h6 class="my-0">{{ user.firstName }} {{ user.lastName }}</h6>
            <h6 class="my-0">{{ user.email }}</h6>
            <small class="text-muted">
              Estado de cuenta: {{ user.active ? "aprobado" : "pendiente" }}
            </small>
          </div>
        </div>

        <!-- Buttons -->
        <div>
          <button
            *ngIf="
              this.showActiveButton &&
              this.currentUserFromDB?.email !== user.email &&
              user.role === 'SPECIALIST' &&
              user.active
            "
            class="btn btn-primary me-3"
            (click)="this.onActiveUser(user)"
          >
            <i class="fas fa-toggle-on"></i>
          </button>

          <button
            *ngIf="
              this.showActiveButton &&
              this.currentUserFromDB?.email !== user.email &&
              user.role === 'SPECIALIST' &&
              !user.active
            "
            class="btn btn-primary me-3"
            (click)="this.onActiveUser(user)"
          >
            <i class="fas fa-toggle-off"></i>
          </button>

          <!-- Delete user -->
          <button
            *ngIf="
              this.showDeleteButton &&
              this.currentUserFromDB?.email !== user.email
            "
            class="btn btn-outline-danger"
            (click)="this.onDeleteUser(user)"
          >
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
