<div
  class="
    vh-100
    d-flex
    justify-content-center
    align-items-center
    background-container
  "
>
  <div class="row">
    <div class="card col p-3 form-container blur">
      <div class="card-header bg-transparent">
        <h3 class="card-title text-center">Estado de tu cuenta</h3>
      </div>

      <div class="card-body bg-transparent">
        <p>¡Gracias por registrarte en la clínica!</p>
        <p>
          Estamos haciendo los últimos chequeos para que puedas acceder y
          disfrutar de nuestro sistema
        </p>
        <p class="text-primary cursor mb-0" [routerLink]="['/auth/login']">
          Volver al login
        </p>
      </div>
    </div>
  </div>
</div>
