<div class="container py-4">
  <div class="row">
    <div class="col-md-6 my-3">
      <div class="rounded-3">
        <h2>Especialidad</h2>
        <app-specialty-finder
          [showAddItem]="false"
          (onSelectSpecialty)="this.setSelectedSpecialty($event)"
        ></app-specialty-finder>
      </div>
    </div>

    <div class="col-md-6 my-3">
      <div class="rounded-3">
        <h2>Especialista</h2>

        <app-users-table
          *ngIf="this.selectedSpecialty"
          (onSelectUser)="this.setSelectedSpecialist($event)"
          [filterBySpecialtyParams]="this.selectedSpecialty"
          [filter]="'SPECIALIST'"
          [eneabledFinder]="true"
          [showInputFinder]="true"
          [showCountList]="false"
          [showActiveButton]="false"
          [showDeleteButton]="false"
          [showRole]="true"
          [showStatusAccount]="false"
        ></app-users-table>

        <div *ngIf="!this.selectedSpecialty">
          Seleccione una especialidad para ver los especialistas disponibles...
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 my-3" *ngIf="this.currentUserFromDB?.role === 'ADMIN'">
      <div class="rounded-3">
        <h2>Paciente</h2>

        <app-users-table
          (onSelectUser)="this.setSelectedPatient($event)"
          [filter]="'PATIENT'"
          [eneabledFinder]="true"
          [showInputFinder]="true"
          [showCountList]="false"
          [showActiveButton]="false"
          [showDeleteButton]="false"
          [showRole]="true"
          [showStatusAccount]="false"
        ></app-users-table>
      </div>
    </div>

    <div [ngClass]="{ 'col-md-6': this.currentUserFromDB?.role === 'ADMIN' }">
      <div class="rounded-3">
        <h2>Día y horario</h2>
        <div *ngIf="!this.selectedSpecialist">
          Selecciona un especialista para ver sus días y horarios
        </div>

        <app-shift-schedule-table
          *ngIf="this.selectedSpecialist"
          [shifts]="this.shifts"
          (onSelectShift)="this.setSelectedShift($event)"
        ></app-shift-schedule-table>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <button
    type="button"
    class="btn btn-primary w-100 my-3"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
    [disabled]="this.requestShiftForm.invalid"
  >
    Confirmar turno
  </button>

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    *ngIf="
      this.selectedSpecialty &&
      this.selectedSpecialist &&
      this.selectedPatient &&
      this.selectedShift
    "
  >
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detalles del turno</h5>
          <button class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col">
              Fecha: {{ this.formatConfirmShift(this.selectedShift) }}
            </div>
          </div>

          <div class="row">
            <div class="col">
              Especialidad: {{ this.selectedSpecialty.name }}
            </div>
          </div>

          <div class="row">
            <div class="col">
              Especialista: {{ this.selectedSpecialist.firstName }}
              {{ this.selectedSpecialist.lastName }}
            </div>
          </div>

          <div class="row">
            <div class="col">
              Paciente: {{ this.selectedPatient.firstName }}
              {{ this.selectedPatient.lastName }}
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            (click)="this.onConfirmShift()"
            data-bs-dismiss="modal"
          >
            Confirmo
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
