<app-spinner
  [isLoading]="!this.userList"
  [text]="'Cargando lista de usuarios'"
></app-spinner>

<div
  class="mb-3 animate__animated animate__fadeIn"
  *ngIf="this.userList?.length"
>
  <!-- Count list -->
  <h4
    class="d-flex justify-content-between align-items-center mb-3"
    *ngIf="this.showCountList"
  >
    <span class="text-primary">Lista de {{ this.title }}</span>
    <span class="badge bg-primary rounded-pill">
      {{ this.userList?.length }}
    </span>
  </h4>

  <!-- Finder -->
  <div class="input-group mb-3" *ngIf="this.showInputFinder">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="this.searchString"
      placeholder="Buscar especialista"
      (keyup)="this.filterByInputValue()"
    />
  </div>

  <div class="overflow-auto" style="height: 310px">
    <ul class="list-group">
      <li
        class="
          list-group-item list-group-item-action
          d-flex
          justify-content-between
          align-items-center
        "
        style="cursor: pointer"
        [ngClass]="{ active: this.selectedUser?.uid === user.uid }"
        *ngFor="let user of this.copyList"
        (click)="this.eneabledFinder && this.selectUser(user)"
      >
        <div
          class="d-flex justify-content-start align-items-center"
          style="flex: 1"
        >
          <img
            class="me-3 rounded-circle"
            [src]="user.photo"
            alt="User image"
            width="55"
            height="55"
          />

          <div>
            <div [ngSwitch]="user.role" *ngIf="this.showRole">
              <small class="text-muted" *ngSwitchCase="this.roles.PATIENT">
                Paciente
              </small>
              <small class="text-muted" *ngSwitchCase="this.roles.SPECIALIST">
                Especialista
              </small>
              <small class="text-muted" *ngSwitchCase="this.roles.ADMIN">
                Admin
              </small>
            </div>

            <h6 class="my-0">{{ user.firstName }} {{ user.lastName }}</h6>
            <h6 class="my-0">{{ user.email }}</h6>
            <small>
              Estado de cuenta: {{ user.active ? "aprobado" : "pendiente" }}
            </small>
          </div>
        </div>

        <!-- Buttons -->
        <div>
          <button
            *ngIf="
              this.showActiveButton &&
              this.currentUserFromDB?.email !== user.email &&
              user.role === 'SPECIALIST' &&
              user.active
            "
            class="btn btn-primary me-3"
            (click)="this.onActiveUser(user)"
          >
            <i class="fas fa-toggle-on"></i>
          </button>

          <button
            *ngIf="
              this.showActiveButton &&
              this.currentUserFromDB?.email !== user.email &&
              user.role === 'SPECIALIST' &&
              !user.active
            "
            class="btn btn-primary me-3"
            (click)="this.onActiveUser(user)"
          >
            <i class="fas fa-toggle-off"></i>
          </button>

          <!-- Delete user -->
          <button
            *ngIf="
              this.showDeleteButton &&
              this.currentUserFromDB?.email !== user.email
            "
            class="btn btn-outline-danger"
            (click)="this.onDeleteUser(user)"
          >
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </li>

      <span *ngIf="this.copyList?.length === 0" class="list-group-item">
        No existe el usuario
      </span>
    </ul>
  </div>
</div>
